.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

// сброс заголовков
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
