:root {
  --bg-hero-color: #ffb8ca;
  --main-bg-color: #fff5f6;
  --text-accent-color: #ffffff;
  --icecoffee-bg-color: #f0d1a5;
  --milkshake-bg-color: #c2e297;
  --paragraf-main-color: #000000;
  --paragraf-accent-color: #907e82;
  --main-title-color: #d41443;
  --accent-title-color: #ffa5ba;
  --icon-social-main-color: #fea5bb;
  --btn-main-color: #d41342;
  --reviews-point-color: #c7133e;
  --reviews-point-accent-color: #d9d9d9;
  --reviews-icon-color: #d31342;
  --border-color: #e1e1e1;
}
