.about {
  background: #fff5f6;
  padding-top: 40px;
  padding-bottom: 40px;
}

.about__label {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.7;
  text-align: center;

  text-transform: uppercase;

  color: #ffa5ba;

  margin-bottom: 15px;
}

.about__title {
  font-family: 'Titan One';
  font-style: normal;

  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;

  text-align: center;

  text-transform: uppercase;

  color: #d41443;

  margin-bottom: 32px;
}

// .about__content {
//   // @media screen (min-width: 768px) {
//   //   display: flex;
//   // }
// }

.about__production {
  background-image: url(../images/img-how-made/milk-bg-desk-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.about__production-text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  color: #000000;

  margin-bottom: 40px;
}

.about__production-text--color {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;

  color: #907e82;
}

.about__btn {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #d41443;
  background-color: #fff;

  border-radius: 22px;

  text-align: center;
  cursor: pointer;
  border: none;

  margin-left: 20px;
  margin-top: 40px;

  padding-left: 37px;
  padding-right: 56px;

  width: 176px;
  height: 44px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
