.products{
    text-align: center;
    background-color: #ffffff;
    }

.products-text{
    font-family: 'Titan One';
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #FFA5BA;
    margin-bottom: 15px;
    }
    .products-title{
        font-family: 'Titan One';
        font-size: 34px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #D41443;
        margin-bottom: 8px;     
        }

.products-list{
    list-style: none;
    padding-inline-start: 0px;
    @media screen and (min-width:768px){
        display: flex; 
    }
}
.products-list__item{
    @media screen and (min-width:768px){
        &:not(:last-child){
            margin-right: 10px;
            }
    }    
    position: relative;
}

    .products-list__title{
    font-family: 'Titan One';
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 32px;
    
    }

    .products-list__text{
    color: #ffffff;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }
    .products-list__btn{
width: 40px;
height: 40px;
border-radius: 50%;
border: none;
     }
    .cards-ice-cream{
        background-color: #FFB8CA;
        border-radius: 24px;
        position: relative;
        
&::before{
    content: url("../images/products/home-pic1-mob-1x.png");
    width: 100%;
    height: 280px;
    display: inline-block;
    position: absolute;
    left: 0;
    top:  -40%;
}
    }

    .cards-ice-coffee{
        background-color: #F0D1A5;
    border-radius: 24px;
    position: relative;
    &::before{
        content: url("../images/products/home-pic2-mob-1x.png");
        width: 100%;
        height: 280px;
        display: inline-block;
        position: absolute;
        left: 0;
        top:  -40%;
    }
    }
    .cards-milkshakes{
        background: #C2E297;
        border-radius: 24px;
        position: relative;
        &::before{
            content: url("../images/products/home-pic3-mob-1x.png");
            width: 100%;
            height: 280px;
            display: inline-block;
            position: absolute;
            left: 0;
            top:  -40%;
        }
    }
    
    .cards{
        /* width: 395px; */
        min-width: 280px;
        height: 489px;  
        margin-top: 198px;
        padding-top: 100px;
        position: relative;
    }
    