<section class="about">
  <div class="container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div class="about__content">
      <div class="about__foto">
        <img src="../src/images/img-how-made/cow-mob-1x.png" alt="foto">
        <!-- <img
          srcset="
            ../images/images_about/pic.png   280w,
            ../images/images_about/pic2x.png 560w,
            ../images/images_about/pic3x.png 840w
          "
          src="../images/img-how-made/"
          alt="фотография"
          sizes="(min-width: 1200px) 50vw, (min-width: 768px) 50vw, (min-width: 480px) 100vw, 100vw"
        /> -->
      </div>
      <div class="about__production">
        <p class="about__production-text">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__production-text--color">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <p class="about__production-text--color">Aliquam erat volutpat. Aenean accumsan.</p>
          
        </p>
        <button type="button" class="about__btn">Read more</button>
      </div>
    </div>
  </div>
</section>
