<section class="customer-reviews container">
  <article>
    <h2 class="visually-hidden">customer-reviews</h2>
    <img class="customer-img" src="./images/photo.jpg" alt="customer-photo" />
    <p class="customer-comment">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
    <ul class="customer-review-decordots">
      <li class="customer-decordots-item"></li>
      <li class="customer-decordots-item"></li>
      <li class="customer-decordots-item"></li>
    </ul>
    <p class="customer-author">Emily, Los Angeles</p>
  </article>
</section>
