<section class="gallery">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/img-gallery/gallery-foto-desk-1x.jpg 1x,
          ./images/img-gallery/gallery-foto-desk-2x.jpg 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/img-gallery/gallery-foto-tab-1x.jpg 1x,
          ./images/img-gallery/gallery-foto-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/img-gallery/gallery-foto-mob-1x.jpg 1x,
          ./images/img-gallery/gallery-foto-mob-2x.jpg 2x
        "
        media="(min-width: 320px)"
      />
      <img
        class="img-corect team-img"
        src="./images/img-gallery/gallery-foto-mob-1x.jpg"
        alt="фото галерея"
      />
    </picture>
  </div>
</section>
