<section class="products container">
  <p class="products-text">100% natural</p>
  <h2 class="products-title">Products</h2>
  <ul class="products-list">
      <li class="products-list__item">
        
          <div class="cards cards-ice-cream">
          <h3 class="products-list__title ice-cream-title">ice cream</h3>
          <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button class="products-list__btn" type="button"></button>  
        </div>
          </li>
      <li class="products-list__item">
          
          
          <div class="cards cards-ice-coffee">
          <h3 class="products-list__title ice-coffee--title">ice coffee</h3>
          <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button class="products-list__btn" type="button"></button>
        </div>
  </li>
      <li class="products-list__item">
        
          <div class="cards cards-milkshakes">
              <h3 class="products-list__title milkshakes-title">milkshakes</h3>
          <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
          <button class="products-list__btn" type="button"></button>  
        </div>
  </li>
  </ul>
</section>